/* header */

header { 
	.sw {
		position: fixed;
		top:0; left:0; right:0;
		z-index:11;
	}
}



.header-logo { 
	position: absolute;
	top:7px; left:0;
	text-indent: -999em;
	overflow:hidden;
	width: 150px;
	display: block; 
	@include transform( translateZ(0) );
	@include transform( scale(1,1) );
	@include transform-origin( top center );
	@include transition( all 0.2s $ease-in-out-sine );
	
	.small-nav & {
		@include transform( scale(0.5,0.5) );
	}
	
	background: url(../images/bridie-molloys-3x.png) center no-repeat;
	background-size: cover; 
	
	.twox & { background-image: url(../images/bridie-molloys-2x.png); }
	.threex & { background-image: url(../images/bridie-molloys-3x.png); }
}

@media screen and (max-width: $collapseNavAt) {
	.header-logo { 
		right:10px; left: auto;
		.small-nav & { @include transform( scale(0.4,0.4) ); }
		.show-nav & { @include transform( translate3d(0,-120%,0) ); }
	}
	header .sw {
		height: 75px;
		max-width:100%;
		.small-nav & { background: rgba($redColor,0.9); }
		.show-nav & { background: transparent; }
	}
}