$navTransitionDuration: 0.2s;

/* nav */
.nav { 
	@include transform( translateZ(0) );
	position: fixed;
	top:0; left:0; right:0;
	z-index: 10;
	padding-top: 100px;
	
	&:after {
		content:"";
		position:absolute;
		top:0; left:0; right:0; height: 90px;
		opacity:0;
		max-width: $pageWrapperWidth;
		margin: 0 auto;
		background: $redColor;
		z-index: -1;
		
		.small-nav & { 
			opacity:0.9; 
			@include transition-delay( 0.1s );
		}
	}
	
	.search-form {
		border-radius:  22px;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		z-index: 10;
		@include transform-origin( right center );
		@include transform( scale(0,1) );
		opacity:0;
		@include transition( all 0.2s $ease-in-out-sine );
		
		.show-search & {
			opacity:1;
			@include transform( scale(1,1) );
		}
	}
	
	.nav-top,
	&:after,
	ul {
		@include transition( all $navTransitionDuration $ease-in-out-sine );
	}
	
	ul {
		position: absolute; 
		top:0; right:0;
		.small-nav & { top: -70px; }
	}
	
	li { 
		float: left; display: block; 
		a {
			text-align: center;
			color: #fff;
			text-transform: uppercase;
			padding: 10px 14px;
			display: block;
			line-height: 1;
			@include transition( background 0.2s $ease-in-out-sine );
			
			&:hover {
				background: lighten($redColor,10);
			}
		}
	}
		
}

.nav-top {
	position: absolute;
	top:-90px; right:0;
	
	.small-nav & { top: -140px; }
	
	&>a { 
		color: #fff;
		font-size: 14px;
		text-transform: uppercase;
		display: inline-block;
		padding: 6px 10px;
		line-height: 1;
		vertical-align: middle;
		@include transition( all 0.2s $ease-in-out-sine );
		
		&:hover { color: lighten($redColor,20); }
	}
	
	.social {
		display: inline-block; 
		vertical-align: middle;
	}
	
	.circle-button.sm {
		width: 28px; height: 28px;
		&:before { font-size: 18px; }
	}
	
	.toggle-search {
		outline:none;
		display: inline-block;
		vertical-align: top;
	}
	
}

/* collapsed nav at 900px */
.toggle-nav { 
	outline: none;
	color: #fff;
	display: none;
	position: absolute;
	background: transparent;
	top: 20px; left: 10px;
	z-index: 24;
	padding: 10px 10px 10px 40px;
	font-weight: 500;
	@include transition( all 0.2s $ease-in-out-sine 0s );
	text-transform: uppercase;
	
	@media screen and (max-width: 600px) {
		& { font-size:0; padding: 20px;}
	}
		
	.show-nav &,
	&:hover {
		background: $redColor;
		color:#fff;
		span { 
			&,
			&:before,
			&:after { border-top-color: #fff; }
			
			.show-nav & { border-top-color: $redColor; }
		}
	}
	
	
	span {
		width: 20px; height: 10px;
		left:10px;
		position: absolute;
		top: 50%;
		border-top:  1px solid #fff;
		
		&,
		&:before,
		&:after {
			@include transition( all 0.2s $ease-in-out-sine 0s );
		}
		
		.show-nav & { border-top-color: $redColor; left: 16px;}
		
		&:before,
		&:after {
			content:"";
			position: absolute;
			top: -9px; 
			left:0; right:0;
			border-top: 1px solid #fff;
			@include transform-origin( top left );
			.show-nav & {
				margin-left: -3px;
				@include transform( rotate3d(0,0,1,45deg) );
			}
			
		}
		
		&:after { 
			top: auto; bottom:1px;
			@include transform-origin( bottom left );
			.show-nav & { @include transform( rotate3d(0,0,1,-45deg) ); }
		}
		
	}
	
}
@media screen and (max-width: $collapseNavAt) {
	.toggle-nav { display: block; }
	.nav {
		@include transform( translate3d(0,-100%,0) );
		height: 100%;
		padding:0;
		@include display( flex );
		@include transition( all 0.2s $ease-in-out-sine );
		
		.show-nav & {
			background: rgba($redColor,0.8); 
			@include transform( translate3d(0,0,0) );
		}
		
		.search-form {
			top: auto;
			bottom: 0;
			border-radius: 0;
			z-index: 26;
		}
		
		.nav-top {
			position: static;
			padding-top:  70px;
			text-align: center;
			
			.toggle-search {
				position: absolute;
				bottom: 5px;
				right: 0;
				z-index: 25;
			}
			
			&>a:hover {
				color: #fff;
				background: #000;
			}

		}
		
		ul { position:static; }
		li { float: none; }
		
		.social { 
			display: block; 
			position:absolute;
			bottom:0; left:0; right:0;
		}
		
		

	}
	
	nav {
		position: absolute;
		top: 140px;
		bottom: 40px;
		left: 0;
		right: 0;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}


}