/* hero */

.hero {
	
	border-bottom: 10px solid $darkRedColor;
	min-height: 350px;
	position: relative;

	.item { 
		position: absolute; top:0; left:0; right:0; bottom:0; z-index:1; opacity:0;
		background-position:center;
		background-size:cover;
		background-repeat:no-repeat;
		@include transition( opacity 0.2s $ease-in-out-sine );
	}

	.loaded .item {
		opacity:1;
	}

	/* because out header images are dark - this will feel less jarring */
	background-color: #000;


	
	.home & {
		&,
		.swipe,
		.swipe-wrap,
		.swipe-wrap>div,
		.sw {
			height: 100vh;
			min-height:600px;
		}

		@include display( flex );
		@include flex-direction( column );
		@include justify-content( flex-end );
		padding-bottom: 100px;

		.sw { @include display( flex ); }
	}
	
	.caption { 
		width: 600px;
		max-width: 90%;
		text-shadow: 0 0 8px #000;
		z-index:2;
		@include align-self( flex-end );
		margin: 0 0 80px;
		position: relative;
	}
	
}