.social {

	cursor: default;

	a {
		width: 28px; height: 30px;
		/* background: transparent; */
		&:before { 
			/* color: #fff; */
			font-size: 18px;
		}
		&:hover {
			/*
			background: #000;
			&:before { color: #fff; }
			*/
		}
	}

	& .fb:before { content: $fa-var-facebook; }
	& .tw:before { content: $fa-var-twitter; }
	& .in:before { content: $fa-var-linkedin; }
	& .instagram:before { content: $fa-var-instagram; }
	& .yt:before { content: $fa-var-youtube; }
	& .vimeo:before { content: $fa-var-vimeo-square; }
	
}