/* coolest class ever */
.circle-button {
	@include t-fa-abs();
	position: relative;
	overflow: hidden;
	width: 80px; height: 80px;
	border-radius: 50%;
	display: inline-block;
	color: $redColor;
	background: #fff;
	
	&:before { font-size: 32px; }
	
	&,
	&:after {
		@include transition( all 0s $ease-in-out-sine );
	}

	&:after {
		position: absolute;
		top: 4px; left: 4px; bottom: 4px; right: 4px;
		border-radius: 50%;
		content:"";
		background: $redColor;
		@include transform-origin( center center );
	}
	
	a:hover &,
	&:hover {
		&:after { @include transform( scale(0,0) ); }
		
		&:before { color: #fff; }
	}
	
	&.big { 
		width: 140px; height: 140px;
		&:before { font-size: 72px; }
	}
	
	&.sm { 
		width: 44px; height: 44px;
		&:before { font-size: 24px; }
		&:after { top: 2px; left: 2px; bottom: 2px; right: 2px; }
	}
	
	&.inverse {
		&:after { @include transform( scale(0,0) ); }
		a:hover &,
		&:hover {
			&:after { @include transform( scale(1,1) ); }
		}
		
	}
	
}

.half-section {
	.body & { padding:0; }
	position: relative;
	background: #fff;
	overflow:hidden;
	
	.article-body {
		max-width: $wrapperWidth/2;
		padding: 70px 30px;
	}

	.lazybg {
		position: absolute; 
		top:0; bottom:0;
		width: 50%;
	}

	&.left-half {
		padding-right: 50%;
		.lazybg { right:0; }
		
		.article-body { 
			padding-left:10px; 
			float: right;
		}
	}
	
	&.right-half {
		padding-left: 50%;
		.lazybg { left: 0; }
		
		.article-body { padding-right:10px; }
	}
	
	@media screen and (max-width: 750px) {
		
		& { padding:0 !important }
		
		.article-body {
			position: relative;
			z-index: 2;
			max-width:none;
			padding: 20px !important;
			float: none !important;
		}
		
		.lazybg {
			z-index: 1;
			left:0; right:0; 
			width: auto;
			opacity:0.3;
		}
	}

}


.red-bg { background-color: $redColor; }

.inline-video .ar-child,
.promo .ar-child {
	@include display( flex );
	@include align-items( center );
	@include justify-content( center );
}

.inline-video:before { display: none !important; }

.body-header {
	text-align: center;
	padding: 35px 0;
}

.section-header {
	.title {
		position:relative;
		margin:0 0 8px;
		padding: 0 0 8px;
		
		&.sm { font-weight: normal; }
		
		&:after {
			content:"";
			margin: 0 auto;
			position: absolute; 
			bottom: 0; left:0; right:0;
			width: 40px; height: 4px; 
			background: $redColor;
		}
		
		.d-bg &:after { background: #fff; }
		
		&.l:after { margin:0; }
	}
}

.breadcrumbs { font-weight: bold; }

.inline-video,
.promo {
	text-shadow: 0 0 8px #000;
	min-height: 50vh;
	padding: 30px 0 !important;
	margin:0 !important;
	@include display( flex );
	@include flex-direction( column );
	@include justify-content( center );
	@include align-items( center );
}

.inline-video .t-fa-abs {
	border: 1px solid #fff;
	border-radius: 50%;
	margin: 10px auto 0;
	width: 50px; height: 50px;
	&:before { 
		font-size: 26px; 
		text-indent:4px;
	}
}

.article-head-meta {

	margin: 0 0 16px;
	padding: 0 0 8px;
	border-bottom: 3px solid $redColor;

	.meta {
		color: $redColor;
		display: inline-block;
		margin-right: 14px;

		&:before {
			color: $redColor;
			margin-right: 6px; 
		}	
		
	}
	
	.d-bg &,
	.dark-bg & {
		border-bottom-color: rgba(0,0,0,0.4); 
		.meta {
			&,
			&:before { color: #fff; }
		}
	}
	
}

.sidebar {
	.title { 
		padding: 14px;
		h5 { margin:0; }
	}
}

.in-this-section-mod .acc-item-content { 
	overflow: visible;
	ul { margin: -11px; padding:0;}
}

.load-more-events {
	margin: 20px 0;
	text-align: center;
	
	.button {
		@include t-fa-abs();
		text-indent:0;
		display: inline-block;
		
		&:before,
		span { @include transition( opacity 0.25s $ease-in-out-sine ); }
		
		&:before {
			@include animation( fa-spin 2s infinite linear );
			color: #fff;
			content: $fa-var-refresh;
			opacity:0;
			margin-top: -10px;
		}
		
		span { opacity:1; }
		
		&.loading {
			&:before { opacity:1; }
			span { opacity:0; }
		}
		
	}
	
}

.event-list-item {
	padding: 30px 10px;
	border-bottom: 1px solid #fff;
	display: block;
	@include transition( background 0.2s $ease-in-out-sine );
	&:hover { background: rgba(0,0,0,0.2);  }
	
	article {
		@include display( flex );
	}
	
	.img {
		@include flex( 1 1 270px );
		margin-right: 30px;
		max-width: 270px;
		min-width: 150px;
		
		@media screen and (max-width: 750px) {
			& { display: none; }
		}
		
	}
	
	.article-body {
		@include display( flex );
		@include flex( 1 1 ( $wrapperWidth - 300px ) );
		
		@media screen and (max-width: 500px) {
			h2 { font-size: 22px; }
			p { display: none; }
		}
	}
	
	.button {
		@include align-self( center );
		@include flex( 0 0 150px );
		margin-left: 30px;
	}
	
			
	@media screen and (max-width: 1000px) {
		.article-body { @include flex-wrap( wrap ); }
		.article-content { @include flex( 0 0 100% ); }
		.button { margin-left:0; }
	}
	
}

.upcoming-events {

	.col {

		border-top: 1px solid #fff;
		position:relative;
		
		&:before {
			content:"";
			position: absolute;
			top:0; left: -1px; bottom:0;
			width: 1px;
			background: #fff;
		}
	
	}
	
	.item {
		height: 390px;
		position: relative;
		overflow:hidden;
		
		&:hover {
			.caption {
				background: rgba(0,0,0,0.4);
			}
			
			.section-header {
				opacity:1;
				@include transform( none );
				@include transition-delay( 0.2s );
			}
		}
	}
	
	.caption {
		@include transition( background 0.2s $ease-in-out-sine );
		position: absolute;
		top:0; left:0; right:0; bottom:0;
	}
	
	.section-header {
		opacity:0;
		position: absolute; 
		bottom:0; left:0;
		@include transform( translate3d(0,100%,0) );
		@include transition( all 0.3s $ease-in-out-sine 0s );
	}
	
}

/* events stuff */

.events-calendar {
	padding: 20px;
	@include display( flex );

	.dp-flat {
		@include flex( 0 0 370px );
		margin-right: 20px;		
		@include transform( translateZ(0) );
	}
	
}

.pika-single {
    width: 100%;
    padding: 0;
    border: none;
	font-family: $defaultFontStack;
	
	.pika-title {
		padding: 10px 10px 0;
		background: $darkRedColor;
		text-transform: uppercase;
		
		.pika-label { 
			background: $darkRedColor;
			color: #fff; 
			font-weight: normal;
			font-size:18px;
		}
	}
	
	.pika-prev,
	.pika-next {
		opacity:1;
		@include t-fa-abs();
		&:before { 
			color: #fff; 
			font-size: 22px;
		}
	}
	
	.pika-prev {
		&:before { content: $fa-var-angle-left; }
	}
	.pika-next {
		&:before { content: $fa-var-angle-right; }
	}
	
	.pika-table {
		
		th {
			color: #fff;
			background: $darkRedColor;
			font-size: 14px; 
			font-weight:normal;
			text-transform: uppercase;
		}
		
		tr {
			td {
				border: 5px solid #fff;
				/*
				&:first-child { border-left-width:0; }
				&:last-child { border-right-width:0; }
				*/
			}
			/*
			&:first-child td { border-top-width:0; }
			&:last-child td { border-bottom-width:0; }
			*/
		}
		
		td {
		
			&.has-event {
				background: #4b4b4b !important;
				cursor: pointer !important;
				.pika-button { 
					color: #fff !important; 
				}
			}
			
			&.has-event:hover,
			&.is-selected,
			&.is-today {
				background: $redColor !important;
				font-weight:bold;
				.pika-button { color: #fff !important; }
			}
			
			&.is-disabled {
				.pika-button { opacity:1 !important; }
			}
			
		}
	}
	
	.pika-button {
		background: transparent !important;
		font-size: 16px;
		padding:10px;
		color: $redColor !important;
		
		&:hover {
			background: transparent !important;
			border-radius:0 !important;
		}
	}
	
}

.events-calendar-tmpl { display: none; }

.event-calendar-event {
	@include display( flex );
	position:relative;
	
	&.has-thumbnail .lazybg { display: block; }
	
	.lazybg {
		display: none;
		@include flex( 1 2 245px );
		margin-right: 20px;
	}
	
	.controls {
		position: absolute;
		top:0; right:0; 
		
		span {
			@include t-fa-abs();
			display: block;
			float:left;
			width: 25px; height: 25px;
			margin-left: 3px;
			background: rgba(0,0,0,0.2);
			color: #fff;
			cursor: pointer;
			@include transition( background 0.2s $ease-in-out-sine );
			
			&.next:before { content: $fa-var-angle-right; }
			&.prev:before { content: $fa-var-angle-left; }
			
			&:hover { background: rgba(0,0,0,0.4); }
			
		}
		
		
		&.prev- .prev { visibility: hidden; }
		&.next- .next { visibility: hidden; }
		
	}
	
}

.selected-event {

	@include t-fa-abs();
	@include display( flex );
	text-indent:0;
	width:100%;
	
	&:before,
	.event-calendar-event {
		@include transition( opacity 0.25s $ease-in-out-sine 0.25s );
	}
	
	&:before {
		font-size: 32px;
		top: 50%;
		left:0; right:0; margin: 0 auto;
		color: #fff;
		position: absolute;
		content: $fa-var-refresh;
		opacity:0;
		@include animation( fa-spin 2s infinite linear );
		@include transition-delay( 0s );
	}
	
	&.loading {
		&:before { 
			opacity:1; 
			@include transition-delay( 0s );
		}
		.event-calendar-event { 
			@include transition-delay( 0s );
			opacity:0; 
		}
	}
	
	
	
	.no-event {	
		text-transform: uppercase;
		display: block;
		text-align: center;
		@include align-self( center );
		font-weight: bold;
		width: 100%;
	}
}

.event-calendar-event-content {
	@include flex( 1 1 490px );
	
	.share-bar {
		margin-top: 15px; 
		background: rgba(0,0,0,0.3); 
		padding: 12px;
		cursor:default;
		
		a { 
			width: 20px;
			color: #fff; 
			display: inline-block;
			vertical-align: middle; 
			&:hover { color: lighten($redColor,20); }
		}
	}
	
	.article-head-meta { 
		border: none; 
		font-size: 14px;
		text-transform: uppercase;
		margin:0;
	}
	
	.event-title {
		text-transform: uppercase;
		padding-bottom: 4px;
		margin-bottom: 14px;
		border-bottom:  1px solid #fff;
		font-size: 24px;
		line-height: 1;
		padding-right: 52px;
	}
}

@media screen and (max-width: 1150px) {
	.events-calendar { 
		@include flex-wrap( wrap ); 
		padding:20px 0;
		
		.dp-flat { 
			margin: 0 auto 20px; 
			@include flex( 0 1 370px );
		}
		.pika-table { display: none !important; }	
		.selected-event { min-width:100%; }
	}
	
}

@media screen and (max-width: 750px) {
	.event-calendar-event {
		.lazybg { display: none !important; }
	}
}

.event-map { display: none;}
.event-map.visible { display: block; }